/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;


#black {
 background-color: #14151e;
}

#grey {
  background-color: #818c9f;
}

#whitish {
  background-color: #edf2f4;
}

#darkred {
  background-color: #961625;
}

#brightred {
  background-color: #d90429;
}
*/
#content {
	margin: 0 auto;
	width: 950px;
  align-content: center;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 56pt;
  margin-bottom: 0px;
}

h2 {
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 48px;
}

#social {
  margin-left: 100px;
  padding-top: 0;
  margin-top: 0;
}

.fa a {
  color: white;
}

.fa {
  padding: 10px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#emphasis {
  color: #961625;
}

.intro img {
  width: 400px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
}

.hello div {
  height: 300px;
  margin: 10px;
  flex-grow: 1;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  font-size: 15px;
}

ul {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li::after {
  content: "|";
  padding: 6px;
}

ul li:last-child::after {
  content: "";
}

a {
  color: #961625;
}

a:visited {
  color: #818c9f;
}

a:hover {
  color: #d90429
}

img {
  width: 100px;
}

#icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%
}
