/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Lato', sans-serif;
}

ul {
  font-family: 'Lato', sans-serif;
}

.colors {
  display: inline;
}

#black {
  display: inline-block;
 width: 100px;
 height: 100px;
 background-color: #14151e;
}

#grey {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #818c9f;
}

#whitish {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #edf2f4;
}

#darkred {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #961625;
}

#brightred {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #d90429;
}
