/*
font-family: 'Lato', sans-serif;
font-family: 'Playfair Display', serif;
*/

#content {
	margin: 0 auto;
	width: 950px;
  align-content: center;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 56pt;
  margin-bottom: 0px;
}

h2 {
  padding-top: 10px;
  margin-top: 0;
  font-size: 48px;
}

.highlight {
  color: #961625;
}

h3 {
  font-size: 28px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.hello div {
  height: 100px;
  margin: 10px;
  flex-grow: 1;
}

img {
  width: 350px;
  transform: rotate(-20deg);
  margin-left: 50px;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 30px;
  font-size: 20px;
}

#source p {
  font-size: 12px;
  text-align: center;
}

ul {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li::after {
  content: "|";
  padding: 6px;
}

ul li:last-child::after {
  content: "";
}

a {
  color: #961625;
}

a:visited {
  color: #818c9f;
}

a:hover {
  color: #d90429
}


#black {
  display: inline-block;
 width: 100px;
 height: 100px;
 background-color: #14151e;
}

#grey {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #818c9f;
}

#whitish {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #edf2f4;
}

#darkred {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #961625;
}

#brightred {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #d90429;
}
