/* Coolors Exported Palette - coolors.co/14151e-818c9f-edf2f4-961625-d90429 */

/* HSL */
$color1: hsla(234%, 20%, 10%, 1);
$color2: hsla(218%, 14%, 56%, 1);
$color3: hsla(197%, 24%, 94%, 1);
$color4: hsla(353%, 74%, 34%, 1);
$color5: hsla(350%, 96%, 43%, 1);

/* RGB */
$color1: rgba(20, 21, 30, 1);
$color2: rgba(129, 140, 159, 1);
$color3: rgba(237, 242, 244, 1);
$color4: rgba(150, 22, 37, 1);
$color5: rgba(217, 4, 41, 1);